body {
    background: black;
    padding: 2px;
    margin: 30px;
}
header{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(..//Index/portafolio1.jpg);
    margin-top: 20px;
    text-align: right;
}
.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow:hidden;
}
div header nav{
    float: left;
    line-height: 100px;
    background: crimson;
}
header nav a {
    display:inline-block;
    color:darkcyan;
    text-decoration:none;
    padding: 15px 15px;
    line-height: normal;
    font-size: 25px;
    font-weight: lighter;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease; 
    transition:all 500ms ease;
}
header nav a:hover{
    background: deeppink;
    border-radius:40px;
}
div h1{
    font-size:120px;
    color:indigo;
    text-align: center;

}
@media screen and (max-width: 400px)
    {
      .header {
        float:none;
        width:100%;
      }
    }
  @media screen and (max-width: 400px)
  {
  .contenedor {
    float: none;
      width: 100%;
  }
  }
  
  @media screen and (max-width:400px){
    .footer{
      float: none;
      width: 100%;
    }
  }


    @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }